
.event-detail {
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: left;
}

.event-detail .card {
    margin: 0;
    width: 100%;
}

.informations {
    text-decoration: underline;
    font-weight: 600;
}

.text-right {
    float: right;
}

.networks svg {
    cursor: pointer;
}

.networks {
    display: flex;
    justify-content: space-around;
}

.ratings {
    width: 100%;
}