.assocs {
  padding-top: 3rem;
  padding-bottom: 3rem;
  flex: 1 0 auto;
  background: url("../../images/event-background.svg") no-repeat center center fixed;
}

.card{
  width: 15vw;
  display: inline-flex;
  margin: 1rem;
}

.no-data {
  width: 100%;
}

.no-data .card-title {
  font-weight: bold;
}
