.App {
  text-align: center;
}
.App-header {
  background-color: #000000;
  margin-bottom: 5rem;
}

.header-link{
 color: white !important;
}

.margin-navbar{
  padding: 0 5rem;
}

.App-footer{
  margin-top: 5rem;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #000000;
  height: 4rem;
}