html,
body {
  height: 100%;
  font-family: sans-serif;
  background: url("images/background.svg") no-repeat center center fixed; 
	background-size: cover; 
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App {
  flex: 1 0 auto;
}

.Footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #000000;
  padding-top: 20px;
}

.Footer ul {
  list-style-type: none;
  padding-left: 0!important;
}