html,
body {
  height: 100%;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  background: url("images/background.svg") no-repeat center center fixed;
	background-size: cover;
	 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.App-header {
  background-color: #000000;
}

.Footer {
  flex-shrink: 0;
  text-align: center;
  background-color: #000000;
  padding-top: 20px;
  color: lightgrey;
}

.Footer ul {
  list-style-type: none;
  padding-left: 0!important;
}

.header-link{
 color: white !important;
}

.margin-navbar{
  padding: 0 5rem;
}

.dropdown-menu.show {
  right: 0!important;
  left: auto!important;
  margin-top: 10px!important;
}

.dropdown-toggle .fa-user-circle {
  margin-right: 5px!important;
}

.fa-plus {
  margin-right: 5px!important;
}

.row.titles {
  text-align: left!important;
}

.network-icons {
  margin-top: auto;
  margin-bottom: auto;
}

.fa-facebook {
    color: #3b5998!important;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% )!important;
    background-size: 41%!important;
    background-position: 51% 0!important;
    background-repeat: no-repeat!important;
    cursor: pointer;
}

.fa-twitter-square {
    color: #55acee;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 80%, transparent 93% )!important;
    cursor: pointer;
}
