.event-card {
  width: 95%;
}

.event-card .event-name {
  float: left;
  width: 90%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.event-card .event-link {
  float: right;
}

.event-card .event-link a {
  color: inherit;
  text-decoration: inherit;
}

.event-card .card-body .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}