.event-card {
  width: 95%!important;
  justify-content: center;
  border-radius: 10px;
  margin: auto;
}

.event-card .event-name {
  font-weight: bold;
  float: left;
  width: 90%;
  text-align: left;
  flex-direction: column;
  display: flex;
}

.event-card .event-name .badge-category {
  width: 100%!important;
  position:relative;
}

.event-card .event-name .badge-category .badge {
  margin-right: 5px;
}

.event-card .event-link {
  float: right;
}

.event-card .event-name .event-rating {
  width: 100%!important;
}

.event-card .event-link a {
  color: inherit;
  text-decoration: inherit;
}

.event-card .card-body .description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}